<div>
    
  <img src='<%=asset_path "yearbookBanner.jpg"%>' class="img_inicial"/>

</div>

<div >
<h3 class="title">TURMA DE TÓPICOS 2014 </h3>

<p class="content">
  
  			Esse é o YearBook da turma 2014 de Tópicos da Computação mistrada pelo professor João. Abaixo temos as fotos dos participantes da mesma, com o perfil de cada um.<br><br>

  			Enjoy the site!


</p>

</div>


<%= render 'showusers' %> 
