<div class="perfil">

<h1 class="saudacao">olá,<br><br> <%= @user.nome %>.</h1><br><br>

<%=render 'info'%>


<div class="editbutton"><%= link_to 'Editar meu perfil', edit_user_path(@user) %></div>

</div>


<%= render 'showusers' %>  	


